# npm packages
node_modules/

# developemnt code folder
dist/

# production code folder
build/

# testing
coverage/

# environment variable files
.env

# lock files
yarn.lock
package-lock.json

# error log files
yarn-error.log
yarn.debug.log
npm-debug.log

# vuepress build output
.vuepress/dist

# Serverless directories
.serverless/

# FuseBox cache
.fusebox/

# DynamoDB Local files
.dynamodb/

# TernJS port file
.tern-port
